@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
/* font-family: "Fugaz One", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');
/* font-family: "Tauri", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');
/* font-family: "Edu NSW ACT Foundation", cursive; */

/* variables */
:root {
    --fontsize-title: 50px;
    --fonsize-p: 20px;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --background-color: #ebebeb;
}

h1 {
    font-family: "Fugaz One", sans-serif;
    padding-left: 60px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Tauri", sans-serif;
    padding-left: 60px;
}

p,
a,
li,
td,
input,
label {
    font-family: "Edu NSW ACT Foundation", cursive;
    padding-left: 60px;
}

body {
    background: var(--background-color);
    max-width: 100%;
    align-items: center;
}

nav.bg-navport {
    background: var(--background-color);
}

nav .navbar-brand img {
    width: 80px;
    margin: 0 30px;
    margin-right: 200px;
}

nav.bg-navport ul li a {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    position: relative;
    bottom: 2px;
    left: 10px;
    transition: .4s;
}

nav.bg-navport ul li a::after {
    width: 0;
    height: 2px;
    background: transparent;
    content: "";
    position: absolute;
    bottom: 2px;
    left: 10px;
    transition: .4s;
}

nav.bg-navport ul li a:hover {
    color: var(--primary-color);
}

nav.bg-navport ul li a:hover::after {
    background: var(--primary-color);
    width: 40%;
}






/* hero */

#hero {
    background: var(--background-color);
    display: flex;
    flex-wrap: wrap;
}

#hero .fondo {
    background: #000000;
    height: 450px;
}

#hero .row {
    align-items: center;
}

#hero .description h1 {
    font-size: 70px;
    font-weight: 800;
    color: var(--secondary-color);
    margin-bottom: 30px;
    margin-top: 60px;
}

#hero .description p {
    font-size: var(--fonsize-p);
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

#hero .description a {
    color: #ffffff;
    padding: 7px 14px;
    margin: 10px 60px;
    background: transparent;
    border-radius: 10px;
    text-decoration: none;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

#hero .cont-foto .foto img {
    width: 350px;
    position: absolute;
    padding-left: 100px;
    margin-top: -120px;
    padding-left: 90px;
}





/* section about */
#about{
    display: flex;
    flex-wrap: wrap;
}

#about .container {
    background: #ffffff;
}

#about .container h2 {
    margin-top: 50px;
    font-size: 50px;
    font-size: var(--fontsize-title);
}

#about .container p {
    font-weight: 600;
    font-size: 18px;
}

.card {
    background: #ffffff;
    border: 0;
}



.card h3 {
    font-weight: 400;
    margin-top: 40px;
}

.card img {
    margin-left: 60px;
    width: 400px;
    margin-top: 15px;
}

.card h4 {
    margin-top: 20px;
    font-size: 20px;
}

.card p {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 60px;
}





/* portfolio */
#portfolio{
    display: flex;
    flex-wrap: wrap;
}
#portfolio .container {
    background: #000000;
    text-align: center;
}

#portfolio .container h2 {
    font-size: 50px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 60px;
}

#portfolio .container p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 50px;
}

#portfolio .container a {
    display:  flex;
    flex-wrap: wrap;
    font-size: 19px;
    font-weight: 600;
    padding: 10px 60px;
    text-decoration: none;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 15px;
    background: #000000;
    margin-left: 60px;
    margin-bottom: 16px;
}

#portfolio .container .cont-foto img {
    width: 550px;
    padding-top: 60px;
    padding-bottom: 50px;
}

/* Download */

#down{
    display: flex;
    flex-wrap: wrap;
}

#down .container {
    background: #ffffff;
    text-align: center;
}

#down .container h2 {
    font-family: "Tauri", sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
}

#down .container a {
    font-family: "Rubik Scribble", system-ui;
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
    background: #000000;
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#down .container p {
    font-family: "Edu NSW ACT Foundation", cursive;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
}




/* Contact */

#contact .container {
    background: #000000;
    text-align: center;
    height: 300px;
}

#contact .container h2 {
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
}

#contact .container p {
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

#contact .container a{
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

    

/* footer */

footer .container {
    text-align: center;
    align-items: center;
}

footer .container p {
    font-size: 18px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 15px;
}








/* Tablet */

@media screen and (min-width:769px) and (max-width:992px) {
    nav .navbar-brand img {
        width: 60px;
        margin-left: 0;
    }

    
    nav.bg-navport ul li a:hover::after {
        background: var(--primary-color);
        width: 0%;
    }

    /* HERO */
    #hero .fondo {
        height: 700px;
    }

    #hero .cont-foto .foto img {
        width: 300px;
        padding-top: 120px;
        margin-left: 160px;
    }



    /* ABOUT */

    /* PORTFOLIO */
    #portfolio .container .cont-foto img {
        width: 300px;
    }

    #portfolio .container a {
        margin: 20px;
    }
}

@media screen and (min-width:601px) and (max-width:768px) {
    nav .navbar-brand img {
        width: 60px;
        margin-left: 0;
    }

    
    nav.bg-navport ul li a:hover::after {
        background: var(--primary-color);
        width: 0%;
    }

    /* HERO */
    #hero .fondo {
        height: 700px;
    }

    #hero .cont-foto .foto img {
        width: 300px;
        padding-top: 120px;
        margin-left: 160px;
    }



    /* ABOUT */

    /* PORTFOLIO */
    #portfolio .container .cont-foto img {
        width: 300px;
    }

    #portfolio .container a {
        margin: 20px;
    }
}

/* PHONE */
@media screen and (max-width: 600px) {
    nav .navbar-brand img {
        width: 60px;
        margin-left: 0;
    }

    
    nav.bg-navport ul li a:hover::after {
        background: var(--primary-color);
        width: 0%;
    }

    /* HERO */
    #hero .fondo {
        height: 700px;
    }

    #hero .cont-foto .foto img {
        width: 300px;
        padding-top: 120px;
        margin-left: 160px;
    }



    /* ABOUT */

    /* PORTFOLIO */
    #portfolio .container .cont-foto img {
        width: 300px;
    }

    #portfolio .container a {
        margin: 20px;
    }
}