@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
/* font-family: "Fugaz One", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');
/* font-family: "Tauri", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');
/* font-family: "Edu NSW ACT Foundation", cursive; */

/* variables */
:root {
    --fontsize-title: 50px;
    --fonsize-p: 20px;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --background-color: #ebebeb;
}

h1 {
    font-family: "Fugaz One", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Tauri", sans-serif;
}

p,
a,
li,
td,
input,
label {
    font-family: "Edu NSW ACT Foundation", cursive;
}

body {
    background: var(--background-color);
}

nav.bg-navport {
    background: var(--background-color);
}

nav .navbar-brand img {
    width: 100px;
    margin: 0 30px;
    margin-right: 300px;
}

nav.bg-navport ul li {
    margin-left: 15px;
}

nav.bg-navport ul li a {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    position: relative;
    bottom: 2px;
    left: 10px;
    transition: .4s;
}

nav.bg-navport ul li a::after {
    width: 0;
    height: 2px;
    background: transparent;
    content: "";
    position: absolute;
    bottom: 2px;
    left: 10px;
    transition: .4s;
}

nav.bg-navport ul li a:hover {
    color: var(--primary-color);
}

nav.bg-navport ul li a:hover::after {
    background: var(--primary-color);
    width: 40%;
}






/* hero */

#hero {
    background: var(--background-color);
}

#hero .fondo {
    background: #000000;
    background-size: 100%;
    height: 700px;
}

#hero .row {
    align-items: center;
}

#hero .description {
    align-items: center;
}

#hero .description h1 {
    font-size: 70px;
    font-weight: 800;
    color: var(--secondary-color);
    padding-left: 100px;
    margin-bottom: 30px;
    margin-top: 100px;
}

#hero .description p {
    font-size: var(--fonsize-p);
    font-weight: 600;
    color: var(--secondary-color);
    margin-left: 100px;
    margin-bottom: 30px;
}

#hero .description a {
    color: #ffffff;
    padding: 7px 14px;
    margin-left: 100px;
    background: transparent;
    border-radius: 10px;
    text-decoration: none;
    border: 5px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 150px;
}

#hero .cont-foto .foto img {
    width: 300px;
    position: absolute;
    margin-left: 100px;
    margin-top: -150px;
}





/* section about */

#about .container {
    background: #ffffff;
    margin-top: -45px;
}

#about .container h2 {
    padding-top: 50px;
    font-size: 50px;
    font-size: var(--fontsize-title);
    margin-left: 150px;
}

#about .container p {
    font-weight: 600;
    margin-left: 150px;
    font-size: 20px;
}

.card {
    background: #ffffff;
    border: 0;
}



.card h3 {
    margin-left: 150px;
    font-weight: 400;
    margin-top: 40px;
}

.card img {
    margin-left: 150px;
    width: 400px;
    margin-top: 15px;
}

.card h4 {
    margin-top: 20px;
    margin-left: 150px;
    font-size: 20px;
}

.card p {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 80px;
}





/* portfolio */

#portfolio .container {
    height: 600px;
    background: #000000;
    background-size: 100%;
    text-align: center;
}

#portfolio .container h2 {
    font-size: 50px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 100px;
    margin-left: 50px;
}

#portfolio .container p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 50px;
}

#portfolio .container a {
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 15px;
    background: #000000;
    margin-left: 30px;
}

#portfolio .container .cont-foto img {
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}

/* Download */



#down .container {
    background: #ffffff;
    text-align: center;
    height: 600px;
}

#down .container h2 {
    font-family: "Tauri", sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 170px;
    margin-bottom: 15px;
}

#down .container a {
    font-family: "Rubik Scribble", system-ui;
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    background: #000000;
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#down .container p {
    font-family: "Edu NSW ACT Foundation", cursive;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 70px;
}




/* Contact */

#contact .container {
    background: #000000;
    text-align: center;
    height: 600px;
}

#contact .container h2 {
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    padding-top: 180px;
    padding-bottom: 20px;
}

#contact .container p {
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}




/* footer */

footer .container {
    text-align: center;
}

footer .container p {
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 15px;
}








/* Tablet */

@media screen and (min-width:769px) and (max-width:992px) {
    nav .navbar-brand img {
        width: 75px;
        margin-right: 200px;
    }

    nav.bg-navport ul li {
        padding-left: 0;
    }

    nav.bg-navport ul li a {
        color: var(--primary-color);
        font-size: 18px;
        font-weight: 600;
        position: relative;
        bottom: 2px;
        left: 10px;
        transition: .4s;
    }

    nav.bg-navport ul li a::after {
        width: 0;
        height: 2px;
        background: transparent;
        content: "";
        position: absolute;
        bottom: 2px;
        left: 10px;
        transition: .4s;
    }

    nav.bg-navport ul li a:hover::after {
        background: var(--primary-color);
        width: 7%;
    }

    /* HERO */
    #hero .fondo {
        height: 800px;
    }

    #hero .cont-foto .foto img {
        width: 200px;
        padding-top: 120px;
        margin-left: 300px;
    }



    /* ABOUT */
    #about .container h2 {
        margin-left: 40px;
    }

    #about .container p {
        margin-left: 40px;
    }

    /* PORTFOLIO */
    #portfolio .container .cont-foto img {
        width: 300px;
    }

    #portfolio .container a {
        margin-left: 15px;
    }
}

@media screen and (min-width:601px) and (max-width:768px) {
    nav .navbar-brand img {
        width: 80px;
        margin-right: 200px;
    }

    nav.bg-navport ul li {
        padding-left: 0;
    }

    nav.bg-navport ul li a {
        color: var(--primary-color);
        font-size: 18px;
        font-weight: 600;
        position: relative;
        bottom: 2px;
        left: 10px;
        transition: .4s;
    }

    nav.bg-navport ul li a::after {
        width: 0;
        height: 2px;
        background: transparent;
        content: "";
        position: absolute;
        bottom: 2px;
        left: 10px;
        transition: .4s;
    }

    nav.bg-navport ul li a:hover::after {
        background: var(--primary-color);
        width: 7%;
    }


    /* HERO */
    #hero .fondo {
        height: 700px;
    }

    #hero .cont-foto .foto img {
        width: 150px;
        padding-top: 120px;
        margin-left: 300px;
    }



    /* ABOUT */
    #about .container h2 {
        margin-left: 50px;
    }

    #about .container p {
        margin-left: 50px;
    }

    .card h3 {
        margin-left: 50px;
        font-weight: 400;
        margin-top: 40px;
    }

    .card img {
        margin-left: 50px;
        width: 400px;
        margin-top: 15px;
    }

    .card h4 {
        margin-top: 20px;
        margin-left: 50px;
        font-size: 20px;
    }

    .card p {
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 80px;
    }

    /* PORTFOLIO */
    #portfolio .container .cont-foto img {
        width: 300px;
    }
}

/* PHONE */
@media screen and (max-width: 600px) {
    nav .navbar-brand img {
        width: 60px;
        margin-right: 100px;
    }

    nav.bg-navport ul li {
        padding-left: 0;
    }

    nav.bg-navport ul li a {
        color: var(--primary-color);
        font-size: 18px;
        font-weight: 600;
        position: relative;
        bottom: 2px;
        left: 10px;
        transition: .4s;
    }

    nav.bg-navport ul li a::after {
        width: 0;
        height: 2px;
        background: transparent;
        content: "";
        position: absolute;
        bottom: 2px;
        left: 10px;
        transition: .4s;
    }

    nav.bg-navport ul li a:hover::after {
        background: var(--primary-color);
        width: 5%;
    }


    /* HERO */
    #hero .fondo {
        height: 700px;
    }

    #hero .description h1 {
        font-size: 50px;
        font-weight: 600;
        padding-left: 50px;
        margin-bottom: 30px;
        margin-top: 80px;
    }
    
    #hero .description p {
        margin-left: 50px;
        margin-bottom: 30px;
    }
    
    #hero .description a {
        margin-left: 50px;
        border-radius: 10px;
        text-decoration: none;
        border: 5px solid #ffffff;
        border-radius: 10px;
        margin-bottom: 150px;
    }
    
    #hero .cont-foto .foto img {
        width: 150px;
        position: absolute;
        margin-left: 150px;
        margin-top: 50px;
    }



    /* ABOUT */
    #about .container h2 {
        margin-left: 10px;
    }

    #about .container p {
        margin-left: 20px;
    }

    .card h3 {
        margin-left: 20px;
        font-weight: 400;
        margin-top: 40px;
    }

    .card img {
        margin-left: 20px;
        width: 200px;
        margin-top: 15px;
    }

    .card h4 {
        margin-top: 20px;
        margin-left: 50px;
        font-size: 20px;
    }

    .card p {
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 80px;
    }

    /* PORTFOLIO */
    #portfolio .container .cont-foto img {
        width: 300px;
    }

    #portfolio .container h2 {
        font-size: 40px;
        margin-top: 50px;
        margin-left: 10px;
    }
    
    #portfolio .container p {
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        margin-top: 25px;
        margin-left: 10px;
        margin-bottom: 25px;
    }
    
    #portfolio .container a {
        padding: 10px 15px;
        margin-left: 10px;
    }
}